
@font-face {
    font-family: 'LGR';
    src: url('../fonts/LGR.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LGI';
    src: url('fonts/LGI.otf');
    font-weight: normal;
    font-style: italic;
}

.team-banners{
    position: relative;
    background-color: #34495E;
    height: 350px;
}
.team-banners:after{
    content: " ";
}
*[ng-click]{
    cursor: pointer;
}
.team-banners .score-center{
    position: absolute;
    left : calc(50% - 60px);
    top : calc(50% - 70px);
    display: inline-block;
    line-height: 80px;
    padding : 20px 10px;
    font-size: 4em;
    border-radius: 100px;
    font-weight: bold;
    background: white;
    border : 1px solid #ccc;
    box-shadow:0 1px 2px #aaa;
}
body,html{
    margin : 0;
    padding : 0;
    background-color : #e9eaed;
}

.home-sub-heading {
    margin-top  : 0px;
    width : 100%;
    display: inline-block;
    line-height: 60px;
    border-bottom: 1px solid    
}
.match-block{
    border-left: 1px solid #ccc;
    min-height: 125px;
    margin-bottom: 10px;
    position: relative;;
}
.select-search, .select-dropdown{
    border-radius: 0 !important;
}
#form-container{
    width : 400px;
    margin : auto;
    margin-top  : 50px;
}

#form-container label{
    width  :30%;
    font-size: 1.2em;
}

#form-container input{
    width  :70%;
}

.red-text{
    color : red;
}

#form-container h3{
    font-size:2em;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding : 10px;
}

#form-container .btn-success{
    float : right;
    width : 30%;
    border-radius: 0;
}
.navbar{
    border-radius: 0 !important;
    margin-bottom: 0px;
}


#main_container{
    max-width : 900px;
    margin : auto;
    background-color : white;
    min-height: 900px;
}

.orange{
    background-color: #F89406;
    height : 225px;
    border-right : 4px solid #E67E22;
    background-image: url('../ImageRes/teams.png');
}

.red{
    background-color : #D64541;
    height: 225px;
    border-right: 4px solid #D91E18;
    background-image: url('../ImageRes/matches.png');
}

.blue{
    background-color : #19B5FE;
    height: 225px;
    border-right: 4px solid #3498DB;
    background-image: url('../ImageRes/Competitions.png');

}
.grey{
    background-color : #2C3E50;
    height: 225px;
    border-right: 4px solid #22313F;
        background-image: url('../ImageRes/players.png');

}

.activity {
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 35%; 
}
.activity h2{
    color : white;
    position : absolute;
    bottom : 0;
    font-weight: normal;
    font-size: 1.6em;
    letter-spacing: 1px;
}

.grid-block{
    min-height: 200px; 
    overflow-y : hidden;
    vertical-align: top;
}


.card{
    border : 1px solid #ccc;
    margin-top : 15px;
    box-shadow:0 1px 2px #aaa;
    background:white;
    position: relative;
}

.grid-block .card{
    margin-left: 7%;
}

.card-caption{
    position: absolute;
    bottom: 0;
}

.flag{
    position: relative;
    width : 100%;
    top : -24px;
}

.player-list .card{
    margin-top  :0px;
    line-height: 40px;
}

.hide-list{
    height: 0;
    overflow-y : hidden;
}

.toggle-btn{
    margin : 10px 0;
}

.bg-info {
    padding : 10px;
}
.page-header{
    margin-top : 0px;
}