<h1>COMPETITIONS</h1>

<select ng-options="competition.name for competition in data" ng-model="selectedCompettion">
	</select>

<img src="{{selectedCompetition.flagUrl}}" alt="">

<div  class="grid-block card-col-md-3">
	<h2>{{selectedCompetition.name}}</h2>
</div>