<h1>Fixtures</h1>

<div class="row">
<h4 class="col-sm-2" >Competitions</h4>
<select class="col-xs-10" style="margin-top : 10px;"ng-options="competition.name for competition in data" ng-model="selectedCompetition" >
</select>

<div ng-repeat="match in tables" class="player-list" >
	<center><div class="card col-md-12"><i style="float :left">{{msToDate(match.start)}}</i> <strong>{{match.homeTeam.name}} VS {{match.awayTeam.name}}</strong> <span style="float :right ; color : #ccc">{{match.homeGoals || '0'}} - {{match.awayGoals || '0'}}</span></div></center>
</div>