<div class="activity orange col-sm-4" ng-click="redirectTo('team')"><h2>Teams</h2></div>
<div class="activity red col-sm-4" ng-click="redirectTo('match')"><h2>Matches</h2></div>
<div class="activity grey col-sm-4" ng-click="redirectTo('player')"><h2>Top 50 players</h2></div>
<h3 class="home-sub-heading">Latest Matches played by your preferred teams</h3>
<div class="row" style="margin-left : 5px">
   <div class="col-md-3 match-block" ng-click="redirectTo('match/' + match.dbid)" ng-repeat="match in preferredTeamPastMatches">
    <h4 class="text-primary">{{match.homeTeam.name}} VS {{match.awayTeam.name}}</h4>
    <div class="card-caption">
        <div><i>{{match.homeGoals}} - {{match.awayGoals}}</i></div>
        <div>{{match.competition.name}}</div>
        <strong>{{msToDate(match.start)}}</strong>
    </div>
</div> 
</div>
<h3 class="home-sub-heading">Latest Upcoming Matches in your preferred competitions</h3>
<div class="row" style="margin-left : 5px">
    <div class="col-md-3 match-block" ng-click="redirectTo('match/' + match.dbid)" ng-repeat="match in preferredMatches">
    <h4 class="text-primary">{{match.homeTeam.name}} VS {{match.awayTeam.name}}</h4>
    <div class="card-caption">
        <div>{{match.competition.name}}</div>
        <strong>{{msToDate(match.start)}}</strong>
    </div>
    
</div>
    
</div>


<h3 class="home-sub-heading">Upcoming Matches played by your preferred teams</h3>
<div class="col-md-3 match-block" ng-click="redirectTo('match/' + match.dbid)" ng-repeat="match in preferredTeamFutureMatches">
    <h4 class="text-primary">{{match.homeTeam.name}} VS {{match.awayTeam.name}}</h4>
    <div class="card-caption">
        <div><i>{{match.homeGoals}} - {{match.awayGoals}}</i></div>
        <div>{{match.competition.name}}</div>
        <strong>{{msToDate(match.start)}}</strong>
    </div>
</div>