
<div id="form-container"  ng-init="signup = false">
	<div ng-if="!signup">
		<h3>Log In</h3>
		<form >
			<p><label for="">Username <span class="red-text">*</span></label><input type="text" ng-model="user.username" required></p>
			<p><label for="">Password <span class="red-text">*</span></label><input type="password" ng-model="user.password" required></p>
			<input type="submit" class="btn btn-success" ng-click="loginUser()" value="Log In"></input>
		</form>
	</div>
	<div ng-if="signup" >
		<h3>Sign Up</h3>
		<form  >
			<div ng-if="!shittyname">
				<p><label for="">Full Name <span class="red-text">*</span></label><input type="text" ng-model="user.name" required></p>
				<p><label for="">Username <span class="red-text">*</span></label><input type="text" ng-model="user.username" required></p>
				<p><label for="">Password <span class="red-text">*</span></label><input type="password" ng-model="user.password" required></p>
				<div class="btn btn-success" ng-click="preSignUp()">Continue</div>
			</div>
			<div ng-if="shittyname">
				<p><label style="width : 100%">Preferred Competitions :</label>
				<oi-select oi-options="competition.name for competition in competitions track by competition.dbid " ng-model="userPrefs.competitions" multiple oi-select-options="{ closeList: false } " placeholder="Select competitions "></oi-select style="border-radius = 0">
		
				</p>
				<p><label style="width : 100%">Preferred Teams :</label>
				<oi-select oi-options="team.name for team in teams track by team.dbid " ng-model="userPrefs.teams" multiple oi-select-options="{ closeList: false } " placeholder="Select competitions "></oi-select style="border-radius = 0">
				</p>
				<input type="submit" class="btn btn-success" ng-click="signUp()" value="Sign Up"></input>
			</div>
		</form>
	</div>
	
	<center ng-if="!shittyname"><div style="margin-top : 60px; font-size : 1.3em;">Or</div></center>
	<div ng-hide="shittyname">
		<div ng-show="signup" class="btn btn-danger col-xs-12" style="margin-top : 30px; border-radius : 0" ng-click="toggleSignup()">Existing User ? Log In</div>
		<div ng-hide="signup" class="btn btn-primary col-xs-12" style="margin-top : 30px; border-radius : 0" ng-click="toggleSignup()">New User ? Sign Up</div>
	</div>
</div>