<h1> MATCHES </h1>

<div style="margin : 15px">
	<div class="row" ><h3 style="border-bottom : 1px solid #111"><i>Yesterday Matches</h3></i></div>
<div class="row">
	<div class="col-md-3 match-block" ng-click="redirectTo('match/' + match.dbid)" ng-repeat="match in yesterday">
    <h4 class="text-primary">{{match.homeTeam.name}} VS {{match.awayTeam.name}}</h4>
    <div class="card-caption">
        <div><i>{{match.homeGoals}} - {{match.awayGoals}}</i></div>
        <div>{{match.competition.name}}</div>
        <strong>{{msToDate(match.start)}}</strong>
    </div>
	</div>
</div>

<div class="row" ><h3 style="border-bottom : 1px solid #111"><i>Today Matches</h3></i></div>
<div class="row">
	<div class="col-md-3 match-block" ng-click="redirectTo('match/' + match.dbid)" ng-repeat="match in today">
    <h4 class="text-primary">{{match.homeTeam.name}} VS {{match.awayTeam.name}}</h4>
    <div class="card-caption">
        <div><span ng-if="match.live"class="label label-danger">LIVE</span><i>{{match.homeGoals}} - {{match.awayGoals}}</i></div>
        <div>{{match.competition.name}}</div>
        <strong>{{msToDate(match.start)}}</strong>
    </div>
	</div>
</div>

<div class="row" ><h3 style="border-bottom : 1px solid #111"><i>Tomorrow Matches</h3></i></div>
<div class="col-md-3 match-block" ng-click="redirectTo('match/' + match.dbid)" ng-repeat="match in tomorrow">
    <h4 class="text-primary">{{match.homeTeam.name}} VS {{match.awayTeam.name}}</h4>
    <div class="card-caption">
        <div><i>{{match.homeGoals}} - {{match.awayGoals}}</i></div>
        <div>{{match.competition.name}}</div>
        <strong>{{msToDate(match.start)}}</strong>
    </div>
</div>
</div>
