
<div class="team-banners">
	<div class="col-xs-1"> </div>
	<img src="{{data.homeTeam.flagUrl}}" alt=""  class="col-xs-5">
	<img src="{{data.awayTeam.flagUrl}}" alt="" class="col-xs-5">
	<div class="score-center">
		{{data.homeGoals || '0'}} - {{data.awayGoals || '0'}}
	</div>
	<div class="row">
		<div class="col-xs-6" style="text-align : center; color: white; font-size : 2em; line-height : 60px; position : relative; top : -40px;"> {{data.homeTeam.name}}</div>
		<div class="col-xs-6" style="text-align : center; color: white; font-size : 2em; line-height : 60px; position : relative; top : -40px;"> {{data.awayTeam.name}}</div>
	</div>
</div>	
<div class="col-xs-6">
	<p>Competition : {{data.competition.name}}</p>
	<p>Match Time : {{msToDate(data.start)}}</p>
	<p>Venue : {{data.venue.name || 'Unknown'}}</p>
	<p></p>
</div>
	