<h1>Top Players</h1>

<div>
<select ng-options="competition.name for competition in data" ng-model="selectedCompetition">
</select>
<img src="{{selectedCompetition.flagUrl}}" alt="" style="width: 150px; height:100px">
<div>
<div ng-repeat="player in players" class="grid-block card col-md-6">
<h3>{{player.name}}</h3>
<h4>{{player.position}}</h4>
<h2>{{player.shortName}}</h2>

</div>