<h1>League Tables</h1>
 
<div class="row">
<h4 class="col-sm-2" >Competitions</h4>
<select class="col-xs-10" style="margin-top : 10px;"ng-options="competition.name for competition in data" ng-model="selectedCompetition" >
</select>
</div>

<div class="table-responsive">
<table class="table">
<tr>
	<th>Team</th>
	<th>Team Name</th>
	<th>Position</th>
	<th>Points</th>
	<th>wins</th>
	<th>Losses</th>
	<th>Goal Difference</th>

</tr>
<tr ng-repeat="tableData in tablesData[0].leagueTable">
		<td><img src={{tableData.flagUrl}} width="30px"></td>
		<td>{{tableData.name}}</td>
		<td>{{tableData.position}}</td>
		<td>{{tableData.points}}</td>
		<td>{{tableData.wins}}</td>
		<td>{{tableData.losses}}</td>
		<td>{{tableData.goalDiff}}</td>
</tr>
</table>
</div>