<h1>Teams</h1>

<div class="row">
<h4 class="col-sm-2" >Competitions</h4>
<select class="col-xs-10" style="margin-top : 10px;"ng-options="competition.name for competition in data" ng-model="selectedCompetition" >
</select>
	
</div>
<div ng-repeat="team in teams" class="grid-block card col-md-3" style="margin-left : 7%" ng-click="redirectTo('team/' + team.dbid)">
	<img src="{{team.flagUrl}}" alt="" class="flag">
	<div class="card-caption">
		<h4>{{team.name}}</h4>
		<h5>{{team.defaultHomeVenue.name}}</h5>
	</div>
</div>
