<div class="col-md-12">
	<img src="{{data.flagUrl}}" alt="" class="col-md-3" style="position:relative; top : -24px">
	<div class="col-md-9" >
		<h3>{{data.name}}</h3>
		<h5>{{data.defaultHomeVenue.name}}</h5>
	</div>
</div>
<div class="page-header col-md-12">
	<h3 class="col-md-10">Players</h3>
	<button class="btn btn-success col-md-2 toggle-btn" ng-click="togglePlayerList()">Toggle player list</button>
</div>
<div ng-class="{'hide-list' : hidePlayer}">
<div ng-repeat="player in data.players" class="player-list" >
	<div class="card col-md-4">{{player.name}} <span style="float :right ; color : #ccc">{{player.position}}</span></div>
</div>	
</div>


<div class="page-header col-md-12">
	<h3 class="col-md-10">Matches</h3>
</div>
<div class="row" style="margin-left : 5px">
   <div class="col-md-3 match-block" ng-click="redirectTo('match/' + match.dbid)" ng-repeat="match in teamMatches">
    <h4 class="text-primary">{{match.homeTeam.name}} VS {{match.awayTeam.name}}</h4>
    <div class="card-caption">
        <div><i>{{match.homeGoals}} - {{match.awayGoals}}</i></div>
        <div>{{match.competition.name}}</div>
        <strong>{{msToDate(match.start)}}</strong>
    </div>
</div> 
</div>