<!DOCTYPE html>
<html ng-app="SoccerApp" ng-controller="RootCtrl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/select.min.css">
    <link rel='shortcut icon' type='image/x-icon' href='/public/favicon.ico' />
    <base href="/" />
    <meta name="fragment" content="!" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>

<body>
    <script src="scripts/libs/jquery.min.js"></script>
    <div id="main_container" class="container">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#/">Soccer Street</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a ng-click="redirectTo('home')">Home</a></li>
              <li><a ng-click="redirectTo('fixtures')">Fixture</a></li>
              <li><a ng-click="redirectTo('tables')">Tables</a></li>
                <li><a ng-click="logoutUser()">User : {{loggedInUser.name}} </a></li>  
            </ul>
          </div>
        </nav>
        <div http-loading class="alert alert-info"><center>Loading..</center></div>
        <div ng-view />
    </div>
    <style>
        @import "css/bootstrap.min.css ";
        @import "css/font-awesome.css";
        @import "css/style.css";
        @import "css/player.css";
        #ytubeModal {
            width: 30% !important;
        }
    </style>
    <script src="scripts/libs/jquery.min.js"></script>
    <script src="scripts/libs/angular.min.js"></script>
    <script src="scripts/libs/angular-touch.min.js"></script>
    <script src="scripts/libs/angular-route.min.js"></script>
    <script src="scripts/libs/ui-bootstrap-tpls-0.13.3.min.js "></script>
    <script src="scripts/libs/external/jquery/jquery.js"></script>
    <script src="scripts/libs/jquery-ui.js"></script>
    <script src="scripts/libs/sha1.js"></script>
    <script src="scripts/libs/ng-twitter-api.min.js"></script>
    <script src="scripts/libs/ng-infinite-scroll.min.js"></script>
    <script src="scripts/libs/bootstrap.min.js"></script>
    <script src="scripts/libs/ngStorage.min.js"></script>
    <script src="scripts/libs/select.min.js"></script>
    <script src="scripts/libs/select-tpls.min.js"></script>
    
    <script src="config.js"></script>
    <script type="text/javascript" src="scripts/controllers/match.js"></script>
    <script type="text/javascript" src="scripts/controllers/home.js" ></script>
    <script type="text/javascript" src="scripts/controllers/root.js" ></script>
    <script type="text/javascript" src="scripts/controllers/team.js" ></script>
    <script type="text/javascript" src="scripts/controllers/player.js" ></script>
    <script src="scripts/services/FootballServices.js"></script>
    <script src="scripts/services/Twitter.js"></script>
    <script src="scripts/directives/http-loading.js"></script>
    <script src="scripts/controllers/fixture.js"></script>
    <script src="scripts/controllers/tables.js"></script>
    <script src="scripts/controllers/LoginCtrl.js"></script>

</body>

</html>
